html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-family: helvetica;
}

.nav {
    border-bottom: 1px solid #eaeaeb;
    text-align: right;
    height: 70px;
    line-height: 70px;
}

.menu {
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
    color: gray;
    margin-right: 10px;
    height: 70px;
}

span {
    color: #54d17a;
}

label {
    margin-right: 40px;
    font-size: 26px;
    line-height: 70px;
    display: none;
}

#toggle {
    display: none;
}

@media only screen and (max-width: 500px) {
    label {
        display: block;
        cursor: pointer;
        width: 26px;
        float: right;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        clear: right;
        display: block;
        border-bottom: 1px solid #eaeaeb;
        margin: 0;
    }

    #toggle:checked + .menu {
        display: block;
    }
}
